*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../codioful-formerly-gradienta-OzfD79w8ptA-unsplash.jpg'); /* Use your desired image URL */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Prevent repeating of the image */
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
}


.contact-first {
    margin-top: 40px;
}
.contact-first h3 {
    color: aliceblue;
}
.contact-first #username {
    background-color: aliceblue;
}
.contact-first #email {
    background-color: aliceblue;
}
.contact-first #Message {
    background-color: aliceblue;
}
.contact-first button{
    background-color: aliceblue;
    border-radius: 20px;
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Adjust the value as needed */
    color: aliceblue;
}

a {
    color: aliceblue !important;
    text-decoration: none;
}
header {
    text-align: right;
    border-bottom: 5px solid al#508C9B;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
}
header a:hover {
    color: blue !important ;
}

 .hero h1 {
    text-align: center;
    padding-bottom: 20px;
    font-family: modern;
    font-size: 40px;
    color: aliceblue;
    text-decoration: none;
}
 .hero h2 {
    text-align: center;
    color: aliceblue;
    font-size: 35px;
    padding-top: 40px;
    font-family: modern;
}
section form {
    text-align: center;
}
section div form input {
    width: 200px;
    margin-bottom: 10px;
    background-color: aliceblue;
    font-family: modern;
}
section div form textarea {
    width: 200px;
    margin-bottom: 10px;
    background-color: aliceblue;
    font-family: modern;
}

section div form button {
    border-radius: 20%;
    color: black;
    background-color: aliceblue; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 50px;
    font-family: modern;
}
section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 10px ;
    padding-bottom: 50px;
    padding-top: 30px;
}


.hero1 {
    margin-bottom: 50px;
}
.hero1 h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
    font-size: 40px;
    color: aliceblue;
    font-family: modern;
}

.hero1 p {
    text-align: justify;
    padding-left:20%;
    padding-right: 20%;
    padding-bottom: 20px;
    font-size: 25px;
    display: block;
    letter-spacing: 0.5px;
    color: aliceblue;
    font-family: modern;
}
.hero1 div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 10px ;
    padding-bottom: 50px;
    padding-top: 30px;
}
.contact-first  h1 {
    text-align: center;
    padding-bottom: 20px;
    font-family: modern;
    font-size: 40px;
    color: aliceblue;
    text-decoration: none;
}
.contact-first h3 {
    font-family: modern;
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    color: aliceblue;
}